/*Font*/
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: local("MuseoSansCyrl-500"), url("../fonts/MuseoSansCyrl-500.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-500.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: local("Gilroy-Medium"), url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: local("Helvetica Regular"), local("Helvetica-Regular"), url("../fonts/Helvetica-Regular.woff2") format("woff2"), url("../fonts/Helvetica-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local("Noto Sans Black"), local("NotoSans-Black"), url("../fonts/NotoSans-Black.woff2") format("woff2"), url("../fonts/NotoSans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local("Noto Sans Black Italic"), local("NotoSans-BlackItalic"), url("../fonts/NotoSans-BlackItalic.woff2") format("woff2"), url("../fonts/NotoSans-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url("../fonts/NotoSans-Bold.woff2") format("woff2"), url("../fonts/NotoSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local("Noto Sans Bold Italic"), local("NotoSans-BoldItalic"), url("../fonts/NotoSans-BoldItalic.woff2") format("woff2"), url("../fonts/NotoSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local("Noto Sans ExtraBold"), local("NotoSans-ExtraBold"), url("../fonts/NotoSans-ExtraBold.woff2") format("woff2"), url("../fonts/NotoSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local("Noto Sans ExtraBold Italic"), local("NotoSans-ExtraBoldItalic"), url("../fonts/NotoSans-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/NotoSans-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local("Noto Sans ExtraLight"), local("NotoSans-ExtraLight"), url("../fonts/NotoSans-ExtraLight.woff2") format("woff2"), url("../fonts/NotoSans-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local("Noto Sans ExtraLight Italic"), local("NotoSans-ExtraLightItalic"), url("../fonts/NotoSans-ExtraLightItalic.woff2") format("woff2"), url("../fonts/NotoSans-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local("Noto Sans Italic"), local("NotoSans-Italic"), url("../fonts/NotoSans-Italic.woff2") format("woff2"), url("../fonts/NotoSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local("Noto Sans Light"), local("NotoSans-Light"), url("../fonts/NotoSans-Light.woff2") format("woff2"), url("../fonts/NotoSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local("Noto Sans Light Italic"), local("NotoSans-LightItalic"), url("../fonts/NotoSans-LightItalic.woff2") format("woff2"), url("../fonts/NotoSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local("Noto Sans Medium"), local("NotoSans-Medium"), url("../fonts/NotoSans-Medium.woff2") format("woff2"), url("../fonts/NotoSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local("Noto Sans Medium Italic"), local("NotoSans-MediumItalic"), url("../fonts/NotoSans-MediumItalic.woff2") format("woff2"), url("../fonts/NotoSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local("Noto Sans Regular"), local("NotoSans-Regular"), url("../fonts/NotoSans-Regular.woff2") format("woff2"), url("../fonts/NotoSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local("Noto Sans SemiBold"), local("NotoSans-SemiBold"), url("../fonts/NotoSans-SemiBold.woff2") format("woff2"), url("../fonts/NotoSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local("Noto Sans SemiBold Italic"), local("NotoSans-SemiBoldItalic"), url("../fonts/NotoSans-SemiBoldItalic.woff2") format("woff2"), url("../fonts/NotoSans-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local("Noto Sans Thin"), local("NotoSans-Thin"), url("../fonts/NotoSans-Thin.woff2") format("woff2"), url("../fonts/NotoSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local("Noto Sans Thin Italic"), local("NotoSans-ThinItalic"), url("../fonts/NotoSans-ThinItalic.woff2") format("woff2"), url("../fonts/NotoSans-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/*Color*/
/*Reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

input[type='text'],
input[type='url'],
input[type='tel'],
input[type='number'],
input[type='color'],
input[type='email'],
input[type='password'] {
  width: 100px;
  height: 100px;
  font: 400 16px sans-serif;
  padding: 0 22px;
  border-radius: 6px;
  border: 1px solid #c7d7df;
  color: #000;
}

input[type='text']::-moz-placeholder, input[type='url']::-moz-placeholder, input[type='tel']::-moz-placeholder, input[type='number']::-moz-placeholder, input[type='color']::-moz-placeholder, input[type='email']::-moz-placeholder, input[type='password']::-moz-placeholder {
  color: #898989;
}

input[type='text']::-ms-input-placeholder, input[type='url']::-ms-input-placeholder, input[type='tel']::-ms-input-placeholder, input[type='number']::-ms-input-placeholder, input[type='color']::-ms-input-placeholder, input[type='email']::-ms-input-placeholder, input[type='password']::-ms-input-placeholder {
  color: #898989;
}

input[type='text']::placeholder,
input[type='url']::placeholder,
input[type='tel']::placeholder,
input[type='number']::placeholder,
input[type='color']::placeholder,
input[type='email']::placeholder,
input[type='password']::placeholder {
  color: #898989;
}

input[type='text']::-moz-placeholder,
input[type='url']::-moz-placeholder,
input[type='tel']::-moz-placeholder,
input[type='number']::-moz-placeholder,
input[type='color']::-moz-placeholder,
input[type='email']::-moz-placeholder,
input[type='password']::-moz-placeholder {
  color: #898989;
}

input.input-error {
  border-color: #a94442;
}

input.input-error::-moz-placeholder {
  color: #a94442;
}

input.input-error::-ms-input-placeholder {
  color: #a94442;
}

input.input-error::placeholder {
  color: #a94442;
}

input.input-error::-moz-placeholder {
  color: #a94442;
}

.input-error {
  font-size: 14px;
  color: #a94442;
  margin-top: 4px;
}

button,
input,
textarea {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  font-family: inherit;
  border: none;
  color: #000;
  width: 100%;
  opacity: 1;
  color: white;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 18px 'Noto Sans', sans-serif;
  color: #000;
  background: #ffffff;
  letter-spacing: -0.24px;
}

a {
  display: inline-block;
  font: inherit;
  color: inherit;
  transition: 300ms;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a img {
  border: none;
  outline: none;
}

a {
  display: inline-block;
  font: inherit;
  transition: 300ms;
}

a:hover {
  text-decoration: none;
}

/*Container*/
.container {
  width: 1260px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .container {
    width: 992px;
    padding: 0 10px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 767px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

/*Block*/
.bg {
  background: url(../images/search_fon.png) no-repeat;
  background-size: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .bg {
    display: none;
  }
}

.bg1 {
  background: url(../images/fon.png) no-repeat;
  background-size: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .bg1 {
    display: none;
  }
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  letter-spacing: 0.035em;
}

@media screen and (max-width: 991px) {
  .title {
    font-size: 26px;
    font-weight: 600;
    line-height: 35px;
  }
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 24px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
  }
}

.btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.035em;
  text-transform: uppercase;
  color: #fff;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.035em;
  text-transform: uppercase;
  color: #fff;
}

.btn:hover {
  transform: translateY(-2px);
}

.btn:active {
  transform: translateY(-1px);
}

.btn-green {
  background: linear-gradient(99.09deg, #55d1ad 28.38%, #32b28c 82.94%);
  box-shadow: 0px 0px 40px rgba(108, 154, 173, 0.4);
  border-radius: 100px;
}

.btn-blue {
  background: linear-gradient(99.09deg, #5c80dd 28.38%, #4466bc 82.94%);
  box-shadow: 0px 0px 40px rgba(108, 154, 173, 0.4);
  border-radius: 100px;
}

/*Card-work*/
.card-work {
  display: flex;
  flex-shrink: 0;
  flex-grow: 10;
  width: 432px;
  padding: 16px 22px 16px 10px;
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .card-work {
    width: 100%;
    padding: 10px 22px 16px 10px;
  }
}

.card-work__inner {
  display: flex;
  width: 100%;
  flex-grow: 10;
}

.card-work__images {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .card-work__images {
    margin-right: 5px;
  }
}

.card-work__content {
  width: 100%;
}

.card-work__profession {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 3px;
  margin-bottom: 4px;
  border-bottom: 1px solid #32b38c;
  width: 100%;
}

.card-work__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 12px;
}

.card-work__name span {
  display: flex;
  align-items: flex-start;
}

.card-work__name span img {
  margin-right: 8px;
}

@media screen and (max-width: 768px) {
  .card-work__name {
    font-size: 14px;
  }
}

.card-work__info {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: grid;
  grid-gap: 15px 25px;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 768px) {
  .card-work__info {
    grid-gap: 6px;
    grid-template-columns: repeat(1, 1fr);
    font-size: 14px;
  }
}

.card-work-img {
  display: flex;
  align-items: flex-start;
}

.card-work-img img {
  margin-right: 10px;
}

/*User-cart*/
.user-cart__inner {
  background: #ffffff;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  padding: 12px 11px 0 11px;
}

.user-cart__body {
  display: flex;
  min-width: 100%;
  flex-grow: 10;
}

.user-cart__images {
  display: flex;
  align-items: flex-start;
  margin-right: 13px;
}

.user-cart__content {
  width: 100%;
}

.user-cart__name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.035em;
  margin-bottom: 12px;
}

.user-cart__name span {
  display: flex;
  align-items: flex-start;
}

.user-cart__rating {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  display: flex;
  align-items: center;
  margin-bottom: 11px;
}

.user-cart__rating span {
  display: flex;
  align-items: flex-start;
  margin-left: 9px;
}

.user-cart__points {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  cursor: pointer;
  color: #9e9e9e;
}

.user-cart__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: -16px;
}

.user-cart__button {
  max-width: 138px;
  width: 100%;
  height: 31px;
  font-weight: 600;
  font-size: 11px;
  line-height: 106.4%;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  margin-right: 25px;
  border-radius: 164px;
}

.user-cart__button span {
  display: flex;
  align-items: flex-start;
  margin-right: 5px;
}

.user-cart__button.accepted {
  background: #32b28c;
}

.user-cart__button.reply {
  background: #e58641;
}

.user-cart__button.denied {
  background: #bf5b5b;
}

.user-cart__price {
  max-width: 138px;
  width: 100%;
  height: 31px;
  background: #e4ebff;
  border-radius: 164px;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #000;
}

.mb-20 {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .mb-20 {
    margin-bottom: 15px;
  }
}

/*Wrapper*/
.wrapper {
  position: relative;
  overflow: hidden;
}

/*Header-wrap*/
.header-wrap {
  position: relative;
  z-index: 110;
  background: url(../images/main_bg.jpg) 50%/cover no-repeat;
  position: relative;
}

.header-wrap:before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background: rgba(65, 65, 65, 0.6);
  -webkit-backdrop-filter: blur(3.5px);
  backdrop-filter: blur(3.5px);
  z-index: 1;
}

/*Header*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 32px 0;
  color: #fff;
}

@media screen and (max-width: 1280px) {
  .header {
    padding: 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 34px 0;
  }
}

@media screen and (max-width: 768px) {
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo img {
  margin-right: 10px;
}

.header__logo span {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

@media screen and (max-width: 768px) {
  .header__name-pc {
    display: none;
  }
}

.header__name-mobi {
  display: none;
}

@media screen and (max-width: 768px) {
  .header__name-mobi {
    display: block;
    font-weight: 700;
    font-size: 26px;
  }
}

.header__block {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.035em;
}

@media screen and (max-width: 991px) {
  .header__block {
    font-size: 11px;
  }
}

@media screen and (max-width: 768px) {
  .header__block {
    display: none;
  }
}

.header__list {
  display: flex;
  align-items: center;
  margin-right: 84px;
}

@media screen and (max-width: 1280px) {
  .header__list {
    margin-right: 40px;
  }
}

@media screen and (max-width: 991px) {
  .header__list {
    margin-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .header__list {
    margin-right: 0;
    background: #383c4a;
    padding-top: 76px;
  }
}

.header__link {
  margin-right: 40px;
}

.header__link a {
  position: relative;
}

.header__link a:before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0px;
  bottom: 1px;
  background: transparent;
  transition: 300ms;
}

.header__link:hover {
  color: #32b28c;
}

.header__link:hover a:before {
  background: #32b28c;
}

.header__link:last-child {
  margin: 0;
}

@media screen and (max-width: 1280px) {
  .header__link {
    margin-right: 20px;
  }
}

@media screen and (max-width: 991px) {
  .header__link {
    margin-right: 10px;
  }
}

.header__user {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header__user {
    flex-direction: column;
    margin-top: 31px;
    letter-spacing: 0.035em;
    position: relative;
  }
  .header__user:before {
    content: '';
    display: inline-block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 20px;
    top: 0px;
    background: url(../images/header_user.svg);
  }
}

.header__entrance {
  margin-right: 35px;
}

.header__entrance a {
  border-bottom: 1px solid transparent;
}

.header__entrance a:hover {
  color: #32b28c;
  border-bottom: 1px solid #32b28c;
}

@media screen and (max-width: 1280px) {
  .header__entrance {
    margin-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .header__entrance {
    border: 1px solid #32b38c;
    border-radius: 3px;
    width: 167px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 46px;
    text-transform: uppercase;
  }
  .header__entrance a {
    font-weight: 400;
    font-size: 18px;
    color: #32b28c;
    transition: 0ms;
    position: relative;
  }
  .header__entrance a:before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0px;
    bottom: 1px;
    background: #32b28c;
    transition: 300ms;
  }
  .header__entrance:hover {
    background: #32b38c;
    border: 1.5px solid #32b38c;
    color: #fff;
  }
  .header__entrance:hover a {
    color: #fff;
  }
  .header__entrance:hover a:before {
    background: #fff;
  }
}

.header__registration {
  border: 1.5px solid #55d1ad;
  color: #55d1ad;
  padding: 12px 15px;
  border-radius: 5px;
  transition: 300ms;
  cursor: pointer;
}

.header__registration:hover {
  background: #32b28c;
  border: 1.5px solid #32b28c;
  color: #fff;
}

.header__registration:hover a {
  transition: 0ms;
}

.header__registration:hover a:before {
  background: #fff;
}

@media screen and (max-width: 991px) {
  .header__registration {
    padding: 4px 6px;
  }
}

@media screen and (max-width: 768px) {
  .header__registration {
    width: 167px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  .header__registration a {
    transition: 0ms;
    position: relative;
  }
  .header__registration a:before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0px;
    bottom: 1px;
    background: #32b28c;
    transition: 300ms;
  }
  .header__registration:hover {
    background: #32b28c;
    border: 1.5px solid #32b28c;
    color: #fff;
  }
  .header__registration:hover a:before {
    background: #fff;
  }
}

.header__navigation {
  display: none;
}

@media screen and (max-width: 767px) {
  .header__navigation {
    display: block;
  }
}

.header__burger {
  display: none;
  padding: 12px 0;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.header__burger span {
  display: block;
  width: 29px;
  height: 3px;
  background: #32b28c;
  position: relative;
}

.header__burger span:before, .header__burger span::after {
  content: '';
  display: inline-block;
  width: 29px;
  height: 3px;
  background: #32b28c;
  position: absolute;
  left: 0px;
}

.header__burger span:before {
  top: 9px;
}

.header__burger span::after {
  top: -9px;
}

.header__burger.active span {
  height: 0;
}

.header__burger.active span:before {
  top: 0px;
  transform: rotate(45deg);
  background: #fff;
}

.header__burger.active span::after {
  transform: rotate(-45deg);
  background: #fff;
  top: 0px;
}

@media screen and (max-width: 767px) {
  .header__burger {
    display: flex;
  }
}

.header__mobile {
  opacity: 0;
  visibility: hidden;
}

@media only screen and (max-width: 767px) {
  .header__mobile {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: #272a33;
    min-height: 100vh;
    width: 66%;
    transition: 300ms;
    z-index: 2;
  }
  .header__mobile.active {
    opacity: 1;
    visibility: visible;
    transition: 300ms;
  }
}

@media screen and (max-width: 480px) {
  .header__mobile {
    width: 100%;
  }
}

.header__mobile .header__list {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.header__mobile .header__list:before {
  content: '';
  display: inline-block;
  width: 33px;
  height: 30px;
  position: absolute;
  top: 76px;
  transition: 300ms;
  left: 20px;
  background: url(../images/header_logo-mobi.svg) 100% no-repeat;
}

.header__mobile .header__link {
  margin: 0 0 26px;
  padding-left: 70px;
  position: relative;
  letter-spacing: 0.07em;
}

/*Main*/
.main {
  position: relative;
  z-index: 2;
}

.main__inner {
  position: relative;
  padding-top: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .main__inner {
    flex-direction: column;
  }
}

.main__item {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: end;
}

@media screen and (max-width: 480px) {
  .main__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.main__images {
  display: flex;
  align-items: flex-start;
}

.main__images .mobi {
  display: none;
}

@media screen and (max-width: 480px) {
  .main__images .mobi {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .main__images .pc {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  .main__images {
    width: 230px;
  }
}

@media screen and (max-width: 768px) {
  .main__images {
    width: 180px;
  }
}

.main__button {
  width: 269px;
  height: 66px;
  position: absolute;
  left: 50px;
  top: 54%;
}

.main__button .mobi {
  display: none;
}

@media screen and (max-width: 480px) {
  .main__button .mobi {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .main__button .pc {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  .main__button {
    width: 200px;
    height: 50px;
    left: 30px;
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .main__button {
    width: 180px;
    height: 40px;
    left: 0px;
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .main__button {
    width: 239px;
    height: 52px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.035em;
    position: relative;
    top: -60px;
  }
}

.main__logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1280px) {
  .main__logo {
    width: 80px;
  }
}

@media screen and (max-width: 768px) {
  .main__logo {
    width: 60px;
  }
}

@media screen and (max-width: 480px) {
  .main__logo {
    display: none;
  }
}

.bg-1 {
  top: 0px;
}

/*Search-pc*/
@media screen and (max-width: 768px) {
  .search.search-pc {
    display: none;
  }
}

.search__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
}

.search__title {
  color: #4466bc;
  margin-bottom: 33px;
}

@media screen and (max-width: 991px) {
  .search__title {
    margin-bottom: 20px;
  }
}

.search__contant {
  max-width: 640px;
}

.search__text {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.035em;
}

.search__text p:first-child {
  margin-bottom: 33px;
}

@media screen and (max-width: 991px) {
  .search__text {
    font-size: 18px;
  }
  .search__text p:first-child {
    margin-bottom: 10px;
  }
}

.search__images {
  display: flex;
  align-self: start;
  flex-shrink: 0;
}

@media screen and (max-width: 1280px) {
  .search__images {
    width: 400px;
  }
}

@media screen and (max-width: 991px) {
  .search__images {
    width: 300px;
  }
}

/*Search-mobile*/
.search-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .search-mobile {
    display: block;
  }
}

.search-mobile__item {
  padding: 34px 15px;
}

.search-mobile__item:last-child {
  background: #f5f7fd;
}

.search-mobile__item:first-child .search-mobile__title {
  font-size: 50px;
}

.search-mobile__item:first-child .search-mobile__subtitle {
  font-size: 16px;
}

.search-mobile__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 50px;
}

.search-mobile__subtitle {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.035em;
}

@media screen and (max-width: 768px) {
  .search-mobile__subtitle {
    font-size: 13px;
  }
}

.search-mobile__images {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 60px;
}

.search-mobile__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.035em;
  max-width: 330px;
  margin: 0 auto 50px;
}

.search-mobile__button {
  border-radius: 115px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.035em;
  padding: 13px 0;
  max-width: 290px;
  margin: 0 auto;
}

.search-mobile__button span {
  display: flex;
  align-items: flex-start;
  margin-right: 10px;
}

.search-mobile__button.blue {
  background: #4466bc;
}

.search-mobile__button.green {
  background: #32b28c;
}

@media screen and (max-width: 768px) {
  .search-mobile__button {
    height: 50px;
  }
}

/*Solutions*/
@media screen and (max-width: 768px) {
  .solutions-pc {
    display: none;
  }
}

.solutions-mobi {
  display: none;
}

@media screen and (max-width: 768px) {
  .solutions-mobi {
    display: block;
  }
}

.solutions__inner {
  padding-top: 140px;
}

@media screen and (max-width: 1280px) {
  .solutions__inner {
    padding-top: 100px;
  }
}

@media screen and (max-width: 991px) {
  .solutions__inner {
    padding-top: 60px;
  }
}

@media screen and (max-width: 768px) {
  .solutions__inner {
    padding: 50px 0;
  }
}

.solutions__title {
  color: #32b38c;
  margin-bottom: 125px;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .solutions__title {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 991px) {
  .solutions__title {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 768px) {
  .solutions__title {
    display: none;
  }
}

.solutions__items {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 991px) {
  .solutions__items {
    grid-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .solutions__items {
    grid-gap: 60px;
    grid-template-columns: repeat(1, 1fr);
  }
}

.solutions__item {
  display: flex;
  flex-direction: column;
}

.solutions__image {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 200px;
  margin-bottom: 45px;
}

@media screen and (max-width: 1280px) {
  .solutions__image {
    height: 150px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .solutions__image {
    height: 90px;
    margin-bottom: 25px;
  }
}

.solutions__text {
  text-align: center;
  letter-spacing: 0.035em;
  font-weight: 500;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 11px;
}

.solutions__text span {
  display: block;
}

@media screen and (max-width: 1280px) {
  .solutions__text {
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  .solutions__text {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.035em;
    color: #4466bc;
  }
}

/*Employer-card*/
.employer-card {
  margin-top: 200px;
}

@media screen and (max-width: 1280px) {
  .employer-card {
    margin-top: 160px;
  }
}

@media screen and (max-width: 768px) {
  .employer-card {
    margin-top: 56px;
  }
}

.employer-card__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .employer-card__inner {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 768px) {
  .employer-card__item {
    width: 100%;
  }
}

.employer-card__content {
  margin-left: 100px;
}

@media screen and (max-width: 1280px) {
  .employer-card__content {
    margin-left: 60px;
  }
}

@media screen and (max-width: 768px) {
  .employer-card__content {
    margin-left: 20px;
  }
}

@media screen and (max-width: 480px) {
  .employer-card__content {
    margin-left: 0;
    padding: 0 10px;
  }
}

.employer-card__title {
  color: #4466bc;
  margin-bottom: 37px;
}

.employer-card__title span {
  display: block;
}

@media screen and (max-width: 991px) {
  .employer-card__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.035em;
    margin-bottom: 20px;
  }
  .employer-card__title span {
    display: none;
  }
}

.employer-card__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0.035em;
}

.employer-card__text p {
  margin-bottom: 70px;
}

.employer-card__text p:last-child {
  margin-bottom: 0;
}

.employer-card__text a {
  color: #4466bc;
  border-bottom: 1px solid #4466bc;
}

.employer-card__text a:hover {
  color: #55d1ad;
  border-bottom: 1px solid #55d1ad;
}

@media screen and (max-width: 991px) {
  .employer-card__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.035em;
  }
  .employer-card__text p {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .employer-card__text {
    margin-bottom: 50px;
  }
}

/*Choice*/
.choice {
  margin-top: 150px;
}

@media screen and (max-width: 768px) {
  .choice-pc {
    display: none;
  }
}

.choice-mobi {
  display: none;
}

@media screen and (max-width: 768px) {
  .choice-mobi {
    display: block;
  }
}

@media screen and (max-width: 1280px) {
  .choice {
    margin-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .choice {
    margin-top: 60px;
  }
}

.choice__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .choice__inner {
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }
}

.choice__title {
  color: #4466bc;
  margin-bottom: 36px;
  max-width: 600px;
}

.choice__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.035em;
}

.choice__text p {
  margin-bottom: 50px;
}

.choice__text p:last-child {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .choice__text p {
    margin-bottom: 44px;
  }
  .choice__text p:last-child {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .choice__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
  }
}

.choice__images {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

@media screen and (max-width: 1280px) {
  .choice__images {
    position: relative;
    right: -50px;
  }
}

@media screen and (max-width: 991px) {
  .choice__images {
    width: 376px;
    right: 0px;
  }
}

@media screen and (max-width: 768px) {
  .choice__images {
    width: 276px;
  }
  .choice__images img {
    margin: 0 auto;
  }
}

.choice__block-mobile {
  position: relative;
  display: none;
}

@media screen and (max-width: 480px) {
  .choice__block-mobile {
    display: block;
    margin-top: 44px;
  }
}

.choice__img {
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
}

/*About*/
.about {
  margin-top: 67px;
  background: #f5f7fd;
  display: none;
}

@media screen and (max-width: 768px) {
  .about {
    display: block;
  }
}

.about__inner {
  padding: 53px 0 89px;
}

@media screen and (max-width: 768px) {
  .about__content {
    padding: 0 15px;
  }
}

.about__title {
  color: #4466bc;
  margin-bottom: 35px;
}

.about__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.035em;
  margin-bottom: 44px;
}

.about__cart {
  display: grid;
  grid-gap: 43px;
  grid-template-columns: repeat(1, 1fr);
}

.bg-contract-rate {
  transform: translateY(-300px);
}

/*Contract-rate*/
.contract-rate {
  margin-top: 200px;
}

.contract-rate-pc {
  display: block;
}

@media screen and (max-width: 768px) {
  .contract-rate-pc {
    display: none;
  }
}

.contract-rate-mobi {
  display: none;
}

@media screen and (max-width: 768px) {
  .contract-rate-mobi {
    display: block;
  }
}

@media screen and (max-width: 1280px) {
  .contract-rate {
    margin-top: 150px;
  }
}

@media screen and (max-width: 991px) {
  .contract-rate {
    margin-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .contract-rate {
    background: #f5f7fd;
    margin-top: 0px;
  }
}

.contract-rate__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .contract-rate__inner {
    flex-direction: column-reverse;
    padding: 48px 15px 63px;
  }
}

.contract-rate__images {
  margin-right: 136px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

@media screen and (max-width: 1280px) {
  .contract-rate__images {
    width: 300px;
    margin-right: 100px;
  }
}

@media screen and (max-width: 991px) {
  .contract-rate__images {
    margin-right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .contract-rate__images {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    width: 100%;
  }
  .contract-rate__images img {
    width: 222px;
  }
}

.contract-rate__contant {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.035em;
}

@media screen and (max-width: 768px) {
  .contract-rate__contant {
    text-align: center;
  }
}

.contract-rate__title {
  color: #32b28c;
  margin-bottom: 36px;
}

@media screen and (max-width: 768px) {
  .contract-rate__title {
    margin-bottom: 25px;
  }
}

.contract-rate__subtitle {
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .contract-rate__subtitle {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.035em;
    margin-bottom: 40px;
  }
}

.contract-rate__text.mobi {
  display: none;
}

@media screen and (max-width: 768px) {
  .contract-rate__text.mobi {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.035em;
    margin-top: 50px;
    max-width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .contract-rate__text.pc {
    display: none;
  }
}

/*Why-contract-rate*/
.why-contract-rate {
  margin-top: 200px;
}

@media screen and (max-width: 768px) {
  .why-contract-rate.pc {
    display: none;
  }
}

.why-contract-rate.mobi {
  display: none;
}

@media screen and (max-width: 768px) {
  .why-contract-rate.mobi {
    display: block;
  }
}

@media screen and (max-width: 1280px) {
  .why-contract-rate {
    margin-top: 150px;
  }
}

@media screen and (max-width: 768px) {
  .why-contract-rate {
    margin-top: 0px;
  }
}

.why-contract-rate__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .why-contract-rate__inner {
    flex-direction: column;
    padding: 58px 15px 50px;
  }
}

.why-contract-rate__content {
  max-width: 600px;
}

@media screen and (max-width: 1280px) {
  .why-contract-rate__content {
    margin-right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .why-contract-rate__content {
    margin-right: 0;
  }
}

.why-contract-rate__title {
  color: #4466bc;
  margin-bottom: 22px;
}

@media screen and (max-width: 768px) {
  .why-contract-rate__title {
    color: #55d1ad;
    text-align: center;
  }
}

.why-contract-rate__text {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.035em;
}

.why-contract-rate__text p:first-child {
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .why-contract-rate__text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.035em;
  }
  .why-contract-rate__text p:last-child {
    display: none;
  }
  .why-contract-rate__text p:first-child {
    margin-bottom: 50px;
  }
}

.why-contract-rate__images {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  width: 100%;
}

.why-contract-rate__images.mobi {
  display: none;
}

@media screen and (max-width: 768px) {
  .why-contract-rate__images.mobi {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1280px) {
  .why-contract-rate__images.pc {
    width: 350px;
  }
}

@media screen and (max-width: 991px) {
  .why-contract-rate__images.pc {
    width: 270px;
  }
}

@media screen and (max-width: 768px) {
  .why-contract-rate__images.pc {
    display: none;
  }
}

.why-contract-rate__img {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.why-contract-rate__text-mobi {
  display: none;
}

@media screen and (max-width: 768px) {
  .why-contract-rate__text-mobi {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.035em;
  }
}

.bg-view-offers {
  transform: translateY(-500px);
}

/*View-offers*/
.view-offers {
  margin-top: 200px;
}

@media screen and (max-width: 1280px) {
  .view-offers {
    margin-top: 150px;
  }
}

@media screen and (max-width: 768px) {
  .view-offers {
    margin-top: 60px;
    background: #f5f7fd;
  }
}

.view-offers__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .view-offers__inner {
    position: relative;
    padding: 45px 0;
  }
}

.view-offers__images {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  width: 60px;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .view-offers__images {
    width: 30px;
    margin-bottom: 0;
    position: absolute;
    top: -34px;
  }
}

.view-offers__title {
  color: #4466bc;
  margin-bottom: 70px;
  letter-spacing: normal;
}

@media screen and (max-width: 768px) {
  .view-offers__title {
    text-align: center;
    margin-bottom: 30px;
  }
}

.view-offers__button {
  display: flex;
  text-transform: uppercase;
}

.view-offers__button span {
  display: flex;
  align-items: flex-start;
  margin-right: 14px;
}

@media screen and (max-width: 768px) {
  .view-offers__button span {
    height: 13px;
  }
}

.view-offers__button .btn {
  border-radius: 100px;
  width: 470px;
  height: 77px;
}

.view-offers__button .green {
  background: #55d1ad;
  margin-right: 30px;
}

.view-offers__button .blue {
  background: #4466bc;
}

@media screen and (max-width: 991px) {
  .view-offers__button .btn {
    width: 370px;
  }
}

@media screen and (max-width: 768px) {
  .view-offers__button {
    flex-direction: column;
    width: 100%;
  }
  .view-offers__button .green {
    background: #55d1ad;
    margin: 0 0 30px;
  }
  .view-offers__button .btn {
    width: 100%;
    flex-grow: 10;
    height: 50px;
    font-size: 16px;
  }
}

.bg-information {
  transform: translateY(-300px);
}

/*Information*/
.information {
  margin-top: 200px;
}

@media screen and (max-width: 1280px) {
  .information {
    margin-top: 150px;
  }
}

@media screen and (max-width: 768px) {
  .information {
    background: #f5f7fd;
    margin-top: 0px;
    padding: 58px 0;
  }
}

.information__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.information__content {
  max-width: 700px;
}

@media screen and (max-width: 1280px) {
  .information__content {
    margin-right: 30px;
  }
}

@media screen and (max-width: 991px) {
  .information__content {
    margin: 0;
  }
}

.information__item {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}

.information__item:last-child {
  margin: 0;
}

.information__img {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  margin-right: 40px;
}

@media screen and (max-width: 768px) {
  .information__img {
    margin-right: 17px;
    width: 39px;
  }
}

.information__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
}

@media screen and (max-width: 768px) {
  .information__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
  }
}

.information__images {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

@media screen and (max-width: 991px) {
  .information__images {
    display: none;
  }
}

.bg-video-training {
  transform: translateY(-200px);
}

/*Video-training*/
.video-training {
  margin-top: 200px;
}

@media screen and (max-width: 1280px) {
  .video-training {
    margin-top: 150px;
  }
}

@media screen and (max-width: 768px) {
  .video-training {
    margin-top: 32px;
  }
}

@media screen and (max-width: 768px) {
  .video-training__inner {
    max-width: 300px;
    margin: 0 auto;
  }
}

.video-training__title {
  color: #4466bc;
  margin-bottom: 100px;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .video-training__title {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 768px) {
  .video-training__title {
    max-width: 260px;
    margin: 0 auto 41px;
  }
}

.video-training__items {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(5, 1fr);
}

@media screen and (max-width: 1280px) {
  .video-training__items {
    grid-gap: 20px;
  }
}

@media screen and (max-width: 991px) {
  .video-training__items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .video-training__items {
    grid-template-columns: repeat(1, 1fr);
  }
}

.video-training__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .video-training__item {
    flex-direction: row;
    align-items: center;
  }
}

.video-training__images {
  margin-bottom: 40px;
  display: flex;
  align-items: flex-start;
  height: 162px;
}

@media screen and (max-width: 1280px) {
  .video-training__images {
    height: 120px;
  }
}

@media screen and (max-width: 768px) {
  .video-training__images {
    height: 75px;
    margin: 0 30px 0 0;
  }
}

.video-training__label {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  width: 201px;
  height: 55px;
  letter-spacing: normal;
  font-size: 22px;
  color: #000;
}

@media screen and (max-width: 1280px) {
  .video-training__label {
    width: 170px;
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .video-training__label {
    width: 185px;
    height: 45px;
    font-weight: 500;
    font-size: 20px;
  }
}

.bg-estimates {
  transform: translateY(150px);
}

/*Estimates*/
.estimates {
  margin-top: 200px;
}

@media screen and (max-width: 1280px) {
  .estimates {
    margin-top: 150px;
  }
}

@media screen and (max-width: 768px) {
  .estimates {
    background: #f5f7fd;
    margin-top: 31px;
  }
}

.estimates__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .estimates__inner {
    flex-direction: column;
    justify-content: center;
    padding: 60px 0;
  }
}

.estimates__content {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.025em;
  max-width: 590px;
}

@media screen and (max-width: 991px) {
  .estimates__content {
    max-width: 450px;
  }
}

@media screen and (max-width: 768px) {
  .estimates__content {
    text-align: center;
    margin-bottom: 32px;
  }
}

.estimates__title {
  color: #32b28c;
  margin-bottom: 23px;
}

.estimates__subtitle {
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .estimates__subtitle {
    margin: 0;
    font-size: 16px;
    max-width: 290px;
  }
}

@media screen and (max-width: 768px) {
  .estimates__text {
    display: none;
  }
}

.estimates__items .mobi {
  display: none;
}

@media screen and (max-width: 768px) {
  .estimates__items .mobi {
    display: block;
    max-width: 300px;
  }
}

.estimates__images {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .estimates__images {
    width: 150px;
    margin: 0 auto 32px;
  }
}

/*To-learn-more */
.to-learn-more {
  margin-top: 200px;
}

.to-learn-more > .container {
  width: 100%;
  max-width: 100%;
  padding: 0;
}

@media screen and (max-width: 1280px) {
  .to-learn-more {
    margin-top: 150px;
  }
}

@media screen and (max-width: 768px) {
  .to-learn-more {
    background: #f5f7fd;
    margin-top: 0;
    padding-top: 30px;
  }
}

.to-learn-more__title {
  color: #4466bc;
  margin-bottom: 100px;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .to-learn-more__title {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 768px) {
  .to-learn-more__title {
    margin-bottom: 27px;
  }
}

.to-learn-more__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 768px) {
  .to-learn-more__items {
    grid-template-columns: repeat(1, 1fr);
  }
}

.to-learn-more__item {
  position: relative;
  z-index: 1;
  background: #282722;
}

.to-learn-more__item:first-child .to-learn-more__images {
  position: relative;
  right: -1px;
}

.to-learn-more__images {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  width: 100%;
}

.to-learn-more__images .mobi {
  display: none;
}

.to-learn-more__images img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .to-learn-more__images .pc {
    display: none;
  }
  .to-learn-more__images .mobi {
    display: block;
  }
}

.to-learn-more__button {
  width: 420px;
  height: 76px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.to-learn-more__button:hover {
  transform: translate(-50%, -2px);
}

.to-learn-more__button:active {
  transform: translate(-50%, -2px);
}

@media screen and (max-width: 1280px) {
  .to-learn-more__button {
    width: 330px;
    height: 60px;
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .to-learn-more__button {
    width: 216px;
    height: 35px;
    bottom: 22px;
    font-size: 14px;
  }
}

/*footer*/
.footer {
  background: #383c4a;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 60px 0 40px;
  color: #fff;
  margin-top: -1px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 30px 0;
  }
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .footer__inner {
    flex-direction: column;
    margin-bottom: 27px;
  }
}

.footer__description {
  text-align: center;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__logo-img {
  display: flex;
  align-items: flex-start;
  margin-right: 17px;
}

.footer__text span {
  display: block;
  margin: 10px 0 25px;
}

@media screen and (max-width: 768px) {
  .footer__text {
    font-size: 16px;
  }
  .footer__text span {
    display: inline-block;
  }
}

.footer__mail {
  font-weight: 600;
  font-size: 18px;
  display: inline-block;
  color: #32b28c;
  margin-bottom: 20px;
  border-bottom: 1px solid transparent;
}

.footer__mail:hover {
  border-bottom: 1px solid #32b28c;
}

.footer__media {
  display: flex;
  justify-content: center;
}

.footer__media-link {
  display: flex;
  align-items: flex-start;
}

.footer__media-link:hover {
  transform: translateY(-2px);
}

.footer__media-link:active {
  transform: translateY(-1px);
}

@media screen and (max-width: 768px) {
  .footer__media {
    margin-bottom: 18px;
  }
}

.footer__media li:first-child {
  margin-right: 30px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
}

.footer__list li {
  margin-bottom: 30px;
}

@media screen and (max-width: 991px) {
  .footer__list li {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .footer__list li {
    margin-right: 0;
  }
}

.footer__list li:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .footer__list li:last-child {
    margin-bottom: 15px;
  }
}

.footer__list li:nth-child(1) {
  order: 0;
}

.footer__list li:nth-child(2) {
  order: 0;
}

.footer__list li:nth-child(3) {
  order: 0;
}

.footer__list li:nth-child(4) {
  order: 0;
}

.footer__list li:nth-child(5) {
  order: 0;
}

@media screen and (max-width: 768px) {
  .footer__list li:nth-child(1) {
    order: 1;
  }
  .footer__list li:nth-child(2) {
    order: 2;
  }
  .footer__list li:nth-child(3) {
    order: 3;
  }
  .footer__list li:nth-child(4) {
    order: 4;
  }
  .footer__list li:nth-child(5) {
    order: 5;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .footer__list {
    text-align: center;
    font-size: 16px;
  }
  .footer__list li {
    margin-bottom: 15px;
  }
}

.footer__link {
  font-weight: 400;
  font-size: 13px;
  border-bottom: 1px solid transparent;
}

.footer__link:hover {
  color: #32b28c;
  border-bottom: 1px solid #32b28c;
}

.footer__copy {
  text-align: center;
  color: #8f8f8f;
  font-weight: 500;
  font-size: 12px;
}

.footer .mobi {
  display: none;
}

@media screen and (max-width: 768px) {
  .footer .mobi {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 24px;
  }
  .footer .mobi img {
    width: 35px;
  }
}

@media screen and (max-width: 768px) {
  .footer .pc {
    display: none;
  }
}
