//! Font
/*Font*/

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: local('MuseoSansCyrl-500'), url('../fonts/MuseoSansCyrl-500.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl-500.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy-Medium'), url('../fonts/Gilroy-Medium.woff2') format('woff2'),
    url('../fonts/Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica Regular'), local('Helvetica-Regular'),
    url('../fonts/Helvetica-Regular.woff2') format('woff2'),
    url('../fonts/Helvetica-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans Black'), local('NotoSans-Black'),
    url('../fonts/NotoSans-Black.woff2') format('woff2'),
    url('../fonts/NotoSans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans Black Italic'), local('NotoSans-BlackItalic'),
    url('../fonts/NotoSans-BlackItalic.woff2') format('woff2'),
    url('../fonts/NotoSans-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans Bold'), local('NotoSans-Bold'),
    url('../fonts/NotoSans-Bold.woff2') format('woff2'),
    url('../fonts/NotoSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'),
    url('../fonts/NotoSans-BoldItalic.woff2') format('woff2'),
    url('../fonts/NotoSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans ExtraBold'), local('NotoSans-ExtraBold'),
    url('../fonts/NotoSans-ExtraBold.woff2') format('woff2'),
    url('../fonts/NotoSans-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans ExtraBold Italic'), local('NotoSans-ExtraBoldItalic'),
    url('../fonts/NotoSans-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/NotoSans-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans ExtraLight'), local('NotoSans-ExtraLight'),
    url('../fonts/NotoSans-ExtraLight.woff2') format('woff2'),
    url('../fonts/NotoSans-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans ExtraLight Italic'), local('NotoSans-ExtraLightItalic'),
    url('../fonts/NotoSans-ExtraLightItalic.woff2') format('woff2'),
    url('../fonts/NotoSans-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans Italic'), local('NotoSans-Italic'),
    url('../fonts/NotoSans-Italic.woff2') format('woff2'),
    url('../fonts/NotoSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans Light'), local('NotoSans-Light'),
    url('../fonts/NotoSans-Light.woff2') format('woff2'),
    url('../fonts/NotoSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans Light Italic'), local('NotoSans-LightItalic'),
    url('../fonts/NotoSans-LightItalic.woff2') format('woff2'),
    url('../fonts/NotoSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans Medium'), local('NotoSans-Medium'),
    url('../fonts/NotoSans-Medium.woff2') format('woff2'),
    url('../fonts/NotoSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans Medium Italic'), local('NotoSans-MediumItalic'),
    url('../fonts/NotoSans-MediumItalic.woff2') format('woff2'),
    url('../fonts/NotoSans-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans Regular'), local('NotoSans-Regular'),
    url('../fonts/NotoSans-Regular.woff2') format('woff2'),
    url('../fonts/NotoSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans SemiBold'), local('NotoSans-SemiBold'),
    url('../fonts/NotoSans-SemiBold.woff2') format('woff2'),
    url('../fonts/NotoSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans SemiBold Italic'), local('NotoSans-SemiBoldItalic'),
    url('../fonts/NotoSans-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/NotoSans-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans Thin'), local('NotoSans-Thin'),
    url('../fonts/NotoSans-Thin.woff2') format('woff2'),
    url('../fonts/NotoSans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans Thin Italic'), local('NotoSans-ThinItalic'),
    url('../fonts/NotoSans-ThinItalic.woff2') format('woff2'),
    url('../fonts/NotoSans-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
    url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

//! Color
/*Color*/

$green: #55d1ad;
$green1: #32b28c;
$white: #fff;
$black: #000;
$blue: #4466bc;

//! Reset
/*Reset*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

input[type='text'],
input[type='url'],
input[type='tel'],
input[type='number'],
input[type='color'],
input[type='email'],
input[type='password'] {
  width: 100px;
  height: 100px;
  font: 400 16px sans-serif;
  padding: 0 22px;
  border-radius: 6px;
  border: 1px solid #c7d7df;
  color: #000;
  &::placeholder {
    color: #898989;
  }
  &::-moz-placeholder {
    color: #898989;
  }
}

input.input-error {
  border-color: #a94442;
  &::placeholder {
    color: #a94442;
  }
  &::-moz-placeholder {
    color: #a94442;
  }
}

.input-error {
  font-size: 14px;
  color: #a94442;
  margin-top: 4px;
}

button,
input,
textarea {
  appearance: none;
  -webkit-appearance: none;
  font-family: inherit;
  border: none;
  color: #000;
  width: 100%;
  opacity: 1;
  color: rgba(255, 255, 255, 1);
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 18px 'Noto Sans', sans-serif;
  color: $black;
  background: #ffffff;
  letter-spacing: -0.24px;
}

a {
  display: inline-block;
  font: inherit;
  color: inherit;
  transition: 300ms;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a img {
  border: none;
  outline: none;
}

a {
  display: inline-block;
  font: inherit;
  transition: 300ms;
  &:hover {
    text-decoration: none;
  }
}

//! Container
/*Container*/

.container {
  width: 1260px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .container {
    width: 992px;
    padding: 0 10px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 767px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 40px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

//! Block
/*Block*/

.bg {
  background: url(../images/search_fon.png)  no-repeat;
  background-size: 100%, 25%, 25%;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;

  @media screen and (max-width: 768px) {
    display: none;
  }

}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  letter-spacing: 0.035em;

  @media screen and (max-width: 991px) {
    font-size: 26px;
    font-weight: 600;
    line-height: 35px;
  }

  @media screen and (max-width: 767px) {
    font-size: 24px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.035em;
  text-transform: uppercase;
  color: $white;

  &:hover {
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(-1px);
  }
}

.btn-green {
  background: linear-gradient(99.09deg, #55d1ad 28.38%, #32b28c 82.94%);
  box-shadow: 0px 0px 40px rgba(108, 154, 173, 0.4);
  border-radius: 100px;
}

.btn-blue {
  background: linear-gradient(99.09deg, #5c80dd 28.38%, #4466bc 82.94%);
  box-shadow: 0px 0px 40px rgba(108, 154, 173, 0.4);
  border-radius: 100px;
}

//! Card-work
/*Card-work*/
.card-work {
  display: flex;
  flex-shrink: 0;
  flex-grow: 10;
  width: 432px;
  padding: 16px 22px 16px 10px;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;


  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 10px 22px 16px 10px;
  }

  &__inner {
    display: flex;
    width: 100%;
    flex-grow: 10;
  }

  &__images {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin-right: 10px;
    @media screen and (max-width: 768px) {
      margin-right: 5px;
    }
  }

  &__content {
    width: 100%;
  }

  &__profession {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 3px;
    margin-bottom: 4px;
    border-bottom: 1px solid #32B38C;
    width: 100%;
  }

  &__name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 12px;

    span{
      display: flex;
      align-items: flex-start;
      img{
        margin-right: 8px;
      }
    }
  }

  &__info {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: grid;
    grid-gap: 15px 25px;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (max-width: 768px) {
      grid-gap: 6px;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &-img{
    display: flex;
    align-items: flex-start;
    img{
      margin-right: 10px;
    }
  }

  &__date {
  }

  &__time {
  }

  &__place {
  }
}

.mb-20 {
  margin-bottom: 20px;

  @media screen and (max-width: 768px) {
    margin-bottom: 15px;
  }
}

//! Wrapper
/*Wrapper*/
.wrapper {
  position: relative;
}

//! Header-wrap
/*Header-wrap*/
.header-wrap {
  position: relative;
  z-index: 110;

  background: url(../images/main_bg.jpg) 50% / cover no-repeat;
  position: relative;
  &:before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(65, 65, 65, 0.6);
    backdrop-filter: blur(3.5px);
    z-index: 1;
  }
}

//! Header
/*Header*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  //bottom: 0;
  z-index: 10;
  padding: 32px 0;
  color: $white;

  @media screen and (max-width: 1280px) {
    padding: 20px 0;
  }

  @media screen and (max-width: 768px) {
    padding: 34px 0;
  }

  &__inner {
    @media screen and (max-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    img {
      margin-right: 10px;
    }

    span {
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
    }
  }

  &__name-pc {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__name-mobi {
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
      font-weight: 700;
      font-size: 26px;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.035em;

    @media screen and (max-width: 991px) {
      font-size: 11px;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__nav {
  }

  &__list {
    display: flex;
    align-items: center;
    margin-right: 84px;

    @media screen and (max-width: 1280px) {
      margin-right: 40px;
    }

    @media screen and (max-width: 991px) {
      margin-right: 20px;
    }

    @media screen and (max-width: 768px) {
      margin-right: 0;
      background: #383c4a;
      padding-top: 76px;
    }
  }

  &__link {
    margin-right: 40px;
    a {
      position: relative;
      &:before {
        content: '';
        display: inline-block;
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0px;
        bottom: 1px;
        background: transparent;
        transition: 300ms;
      }
    }

    &:hover {
      color: $green1;
      a {
        &:before {
          background: $green1;
        }
      }
    }

    &:last-child {
      margin: 0;
    }

    @media screen and (max-width: 1280px) {
      margin-right: 20px;
    }

    @media screen and (max-width: 991px) {
      margin-right: 10px;
    }
  }

  &__user {
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      margin-top: 31px;
      letter-spacing: 0.035em;
      position: relative;
      &:before {
        content: '';
        display: inline-block;
        width: 35px;
        height: 35px;
        position: absolute;
        left: 20px;
        top: 0px;
        background: url(../images/header_user.svg);
      }
    }
  }

  &__entrance {
    margin-right: 35px;
    a {
      border-bottom: 1px solid transparent;
      &:hover {
        color: $green1;
        border-bottom: 1px solid $green1;
      }
    }

    @media screen and (max-width: 1280px) {
      margin-right: 10px;
    }

    @media screen and (max-width: 768px) {
      border: 1px solid #32b38c;
      border-radius: 3px;
      width: 167px;
      height: 42px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0 46px;
      text-transform: uppercase;

      a {
        font-weight: 400;
        font-size: 18px;
        color: $green1;
        transition: 0ms;
        position: relative;
        &:before {
          content: '';
          display: inline-block;
          width: 100%;
          height: 1px;
          position: absolute;
          left: 0px;
          bottom: 1px;
          background: $green1;
          transition: 300ms;
        }
      }

      &:hover {
        background: #32b38c;
        border: 1.5px solid #32b38c;
        color: $white;
        a {
          color: $white;
          &:before {
            background: $white;
          }
        }
      }
    }
  }

  &__registration {
    border: 1.5px solid $green;
    color: $green;
    padding: 12px 15px;
    border-radius: 5px;
    transition: 300ms;
    cursor: pointer;

    &:hover {
      background: $green1;
      border: 1.5px solid $green1;
      color: $white;
      a {
        transition: 0ms;
        &:before {
          background: $white;
        }
      }
    }

    @media screen and (max-width: 991px) {
      padding: 4px 6px;
    }

    @media screen and (max-width: 768px) {
      width: 167px;
      height: 42px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      a {
        transition: 0ms;
        position: relative;
        &:before {
          content: '';
          display: inline-block;
          width: 100%;
          height: 1px;
          position: absolute;
          left: 0px;
          bottom: 1px;
          background: $green1;
          transition: 300ms;
        }
      }

      &:hover {
        background: $green1;
        border: 1.5px solid $green1;
        color: $white;
        a {
          &:before {
            background: $white;
          }
        }
      }
    }
  }

  &__navigation {
    display: none;
    @media screen and (max-width: 767px) {
      display: block;
    }
  }

  &__burger {
    display: none;
    padding: 12px 0;
    cursor: pointer;
    position: relative;
    z-index: 10;

    span {
      display: block;
      width: 29px;
      height: 3px;
      background: $green1;
      position: relative;

      &:before,
      &::after {
        content: '';
        display: inline-block;
        width: 29px;
        height: 3px;
        background: $green1;
        position: absolute;
        left: 0px;
      }

      &:before {
        top: 9px;
      }
      &::after {
        top: -9px;
      }
    }

    &.active {
      span {
        height: 0;
        &:before {
          top: 0px;
          transform: rotate(45deg);
          background: $white;
        }
        &::after {
          transform: rotate(-45deg);
          background: $white;
          top: 0px;
        }
      }
    }

    @media screen and (max-width: 767px) {
      display: flex;
    }
  }

  &__mobile {
    opacity: 0;
    visibility: hidden;
    @media only screen and (max-width: 767px) {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background: #272a33;
      min-height: 100vh;
      width: 66%;

      transition: 300ms;
      z-index: 2;

      &.active {
        opacity: 1;
        visibility: visible;
        transition: 300ms;
      }
    }

    @media screen and (max-width: 480px) {
      width: 100%;
    }

    .header__list {
      display: flex;
      flex-direction: column;
      align-items: start;
      &:before {
        content: '';
        display: inline-block;
        width: 33px;
        height: 30px;
        position: absolute;
        top: 76px;
        transition: 300ms;
        left: 20px;
        background: url(../images/header_logo-mobi.svg) 100% no-repeat;
      }
    }

    .header__link {
      margin: 0 0 26px;
      padding-left: 70px;
      position: relative;
      letter-spacing: 0.07em;
    }
  }
}

//! Main
/*Main*/
.main {
  position: relative;
  z-index: 2;
  &__inner {
    position: relative;
    padding-top: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 480px) {
      flex-direction: column;
    }
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: end;
    @media screen and (max-width: 480px) {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__images {
    display: flex;
    align-items: flex-start;
    .mobi {
      display: none;
      @media screen and (max-width: 480px) {
        display: block;
      }
    }
    .pc {
      @media screen and (max-width: 480px) {
        display: none;
      }
    }

    @media screen and (max-width: 1280px) {
      width: 230px;
    }

    @media screen and (max-width: 768px) {
      width: 180px;
    }

    @media screen and (max-width: 480px) {
    }
  }

  &__button {
    width: 269px;
    height: 66px;
    position: absolute;
    left: 50px;
    top: 54%;

    .mobi {
      display: none;
      @media screen and (max-width: 480px) {
        display: block;
      }
    }

    .pc {
      @media screen and (max-width: 480px) {
        display: none;
      }
    }

    @media screen and (max-width: 1280px) {
      width: 200px;
      height: 50px;
      left: 30px;
      font-size: 16px;
    }

    @media screen and (max-width: 768px) {
      width: 180px;
      height: 40px;
      left: 0px;
      font-size: 16px;
    }

    @media screen and (max-width: 480px) {
      width: 239px;
      height: 52px;
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      letter-spacing: 0.035em;
      position: relative;
      top: -60px;
    }
  }

  &__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @media screen and (max-width: 1280px) {
      width: 80px;
    }

    @media screen and (max-width: 768px) {
      width: 60px;
    }

    @media screen and (max-width: 480px) {
      display: none;
    }
  }
}

//! Bg
.bg-1 {
  top: 0px;
}

//! Search-pc
/*Search-pc*/
.search {

  &.search-pc{
    
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;

  }

  &__title {
    color: $blue;
    margin-bottom: 33px;

    @media screen and (max-width: 991px) {
      margin-bottom: 20px;
    }
  }

  &__contant {
    max-width: 640px;
  }

  &__text {
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.035em;
    p {
      &:first-child {
        margin-bottom: 33px;
      }
    }

    @media screen and (max-width: 991px) {
      font-size: 18px;
      p {
        &:first-child {
          margin-bottom: 10px;
        }
      }
    }
  }

  &__images {
    display: flex;
    align-self: start;
    flex-shrink: 0;

    @media screen and (max-width: 1280px) {
      width: 400px;
    }

    @media screen and (max-width: 991px) {
      width: 300px;
    }

  }
}

//! Search-mobile
/*Search-mobile*/
.search-mobile {
  display: none;

  @media screen and (max-width: 768px) {
  display: block;
  }

  &__inner {
    
  }

  &__item {
    padding: 34px 15px;
    &:last-child{
      background: #F5F7FD;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.02em;

    margin-bottom: 60px;
  }

  &__subtitle {
    margin-bottom: 55px;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.035em;
  }

  &__images {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 60px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.035em;
    max-width: 330px;
    margin: 0 auto 50px;
  }

  &__button {
    border-radius: 115px;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.035em;
    padding: 13px 0;
    max-width: 290px;
    margin: 0 auto;

    span{
      display: flex;
      align-items: flex-start;
      margin-right: 10px;
    }

    &.blue{
      background: $blue;
    }

    &.green{
      background: $green1;
    }
  }
}

//! Solutions
/*Solutions*/
.solutions {

  &-pc{
    @media screen and (max-width: 768px) {
    display: none;
    }
  }
  &__inner {
    padding-top: 140px;

    @media screen and (max-width: 1280px) {
      padding-top: 100px;
    }
    
    @media screen and (max-width: 991px) {
      padding-top: 60px;
    }

    @media screen and (max-width: 480px) {
    padding-top: 45px;
    }
  }

  &__title {
    color: #32b38c;
    margin-bottom: 125px;
    text-align: center;

    @media screen and (max-width: 1280px) {
      margin-bottom: 80px;
    }

    @media screen and (max-width: 991px) {
      margin-bottom: 60px;
    }

    @media screen and (max-width: 480px) {
      display: none;
    }
  }

  &__items {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);

    @media screen and (max-width: 991px) {
      grid-gap: 40px;
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 480px) {
      grid-gap: 60px;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__image {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 200px;
    margin-bottom: 45px;

    @media screen and (max-width: 1280px) {
      height: 150px;
      margin-bottom: 30px;
    }

    @media screen and (max-width: 480px) {
      height: 90px;
      margin-bottom: 25px;
    }
  }

  &__text {
    span {
      display: block;
    }
    text-align: center;
    letter-spacing: 0.035em;
    font-weight: 500;

    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 11px;

    @media screen and (max-width: 1280px) {
    font-size: 13px;
    }

    @media screen and (max-width: 480px) {
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      text-align: center;
      letter-spacing: 0.035em;
      
      color: #4466BC;
    }
  }
}


//! Employer-card
/*Employer-card*/
.employer-card {
margin-top: 200px;

@media screen and (max-width: 1280px) {
margin-top: 160px;
}

@media screen and (max-width: 768px) {
margin-top: 56px;
}
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
    }
  }

  &__item{
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  &__content {
    margin-left: 100px;

    @media screen and (max-width: 1280px) {
      margin-left: 60px;
    }

    @media screen and (max-width: 768px) {
      margin-left: 20px;
    }
  }

  &__title {
    color:$blue;
    margin-bottom: 37px;

    span{
      display: block;
    }

    @media screen and (max-width: 991px) {
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
      letter-spacing: 0.035em;
      margin-bottom: 20px;

      span{
        display: none;
      }
    }
  }

  &__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.035em;
    p{
      margin-bottom: 70px;
    &:last-child{
      margin-bottom: 0;
    }
    }

    a{
      color: $blue;
      border-bottom: 1px solid $blue;
      &:hover{
        color:$green;
        border-bottom: 1px solid $green;
      }
    }

    @media screen and (max-width: 991px) {
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 0.035em;
      p{
        margin-bottom: 30px;
      }
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 50px;
    }
  }
}

//! Choice
/*Choice*/
.choice {
  margin-top: 150px;

  &-pc{
    display: none;
  }

  @media screen and (max-width: 1280px) {
    margin-top: 100px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    color:$blue;
    margin-bottom: 36px;
    max-width: 600px;
  }

  &__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.035em;
    p{
      margin-bottom: 50px;

      &:last-child{
        margin: 0;
      }

      @media screen and (max-width: 768px) {
        margin-bottom: 44px;
      }
    }

    @media screen and (max-width: 768px) {
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
    }
  }

  &__images {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    @media screen and (max-width: 1280px) {
      position: relative;
      right: -50px;
    }

    @media screen and (max-width: 991px) {
      width: 376px;
    }
  }
}



